body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
  text-align: center;
}

/* 上のバナー画像 */
.banner {
  width: 50%;
  height: 300px;
  object-fit: cover;
}

/* タイトル */
h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 70px;
  margin: 20px 0;

  background: linear-gradient(to right, #ffffff, #bbbbbb);
  -webkit-background-clip: text;
  color: transparent;

  text-shadow: 
    2px 2px 5px rgba(0,0,0,0.7);
}

/* サブタイトル */
header p {
  margin-top: 5px;
  opacity: 0.8;
}
